@font-face {
	font-family: 'picon-thin';
	src:url('fonts/picon-thin.eot');
	src:url('fonts/picon-thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/picon-thin.ttf') format('truetype'),
		url('fonts/picon-thin.woff') format('woff'),
		url('fonts/picon-thin.svg#picon-thin') format('svg');
	font-weight: normal;
	font-style: normal;
}

.picon {
	font-family: 'picon-thin';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.picon-thin-242_minus_down_low:before {
	content: "\e600";
}
.picon-thin-252_minus_remove:before {
	content: "\e601";
}
.picon-thin-128_sign_path_directions_navigation:before {
	content: "\e602";
}
.picon-thin-062_paper_document_file:before {
	content: "\e603";
}
.picon-thin-026_time_clock_watch:before {
	content: "\e604";
}
.picon-thin-031_bubble_comment_chat_message:before {
	content: "\e605";
}
.picon-thin-241_plus_up_high:before {
	content: "\e606";
}
.picon-thin-101_map_folder:before {
	content: "\e607";
}
.picon-thin-478_pulse_heart_beat_hospital:before {
	content: "\e608";
}
.picon-thin-298_milk_tetra_pack:before {
	content: "\e609";
}
.picon-thin-407_resize_window_screen_full:before {
	content: "\e60a";
}
.picon-thin-112_download_computer_files:before {
	content: "\e60b";
}
.picon-thin-451_battery_charge_power:before {
	content: "\e60c";
}
.picon-thin-461_power_on_switch_turn:before {
	content: "\e60d";
}
.picon-thin-251_plus_add:before {
	content: "\e60e";
}
.picon-thin-245_switch_on_off:before {
	content: "\e60f";
}
.picon-thin-246_switch_on_off:before {
	content: "\e610";
}
.picon-thin-155_credit_card:before {
	content: "\e611";
}
.picon-thin-311_ipad_tablet_touch_screen:before {
	content: "\e612";
}
.picon-thin-492_photo_image_crop:before {
	content: "\e613";
}
.picon-thin-409_full_screen_window_maximize:before {
	content: "\e614";
}
.picon-thin-230_cone_job_traffic_transport_work:before {
	content: "\e615";
}
.picon-thin-211_briefcase_suitcase_documents:before {
	content: "\e616";
}
.picon-thin-120_download_import:before {
	content: "\e617";
}
.picon-thin-416_arrows_direction_right:before {
	content: "\e618";
}
.picon-thin-255_checkbox_x_checked_no:before {
	content: "\e619";
}
.picon-thin-014_plane_paper_send:before {
	content: "\e61a";
}
.picon-thin-305_shelf_archive:before {
	content: "\e61b";
}
.picon-thin-142_box_shipping_package:before {
	content: "\e61c";
}
.picon-thin-337_window_layout_side_menu:before {
	content: "\e61d";
}
.picon-thin-227_fail_dangerous_error_unavailable:before {
	content: "\e61e";
}
.picon-thin-119_upload_open_export:before {
	content: "\e61f";
}
.picon-thin-304_living_light_table:before {
	content: "\e620";
}
.picon-thin-266_transport_street_road_traffic:before {
	content: "\e621";
}
.picon-thin-449_hotel_do_not_disturb_tag:before {
	content: "\e622";
}
.picon-thin-233_heart_favorite_like:before {
	content: "\e623";
}
.picon-thin-121_location_pin_map:before {
	content: "\e624";
}
.picon-thin-099_zoom_out_magnify_minus:before {
	content: "\e625";
}
.picon-thin-047_house_home_building:before {
	content: "\e626";
}
.picon-thin-419_arrows_curves:before {
	content: "\e627";
}
.picon-thin-469_cloud_weather_cloudy:before {
	content: "\e628";
}
.picon-thin-013_mail_envelope_email_open:before {
	content: "\e629";
}
.picon-thin-247_delete_backspace_remove:before {
	content: "\e62a";
}
.picon-thin-411_rotate_counter_clockwise_arrow:before {
	content: "\e62b";
}
.picon-thin-109_map_folder:before {
	content: "\e62c";
}
.picon-thin-033_bubble_comment_chat_message_add_compose:before {
	content: "\e62d";
}
.picon-thin-256_checkbox_checked_yes_success:before {
	content: "\e62e";
}
.picon-thin-102_map_folder_full_documents:before {
	content: "\e62f";
}
.picon-thin-312_iphone_smart_phone_mobile:before {
	content: "\e630";
}
.picon-thin-452_low_battery_charge_power:before {
	content: "\e631";
}
.picon-thin-172_computer_desktop_screen:before {
	content: "\e632";
}
.picon-thin-156_wallet_money_empty:before {
	content: "\e633";
}
.picon-thin-137_shopping_cart_store_basket_purchase:before {
	content: "\e634";
}
.picon-thin-017_flag:before {
	content: "\e635";
}
.picon-thin-019_zoom_find_search_magnifying_glass:before {
	content: "\e636";
}
.picon-thin-212_briefcase_suitcase_luggage_baggage:before {
	content: "\e637";
}
.picon-thin-020_bookmark:before {
	content: "\e638";
}
.picon-thin-306_book_shelf_archive:before {
	content: "\e639";
}
.picon-thin-011_mail_envelope_email_postcard:before {
	content: "\e63a";
}
.picon-thin-474_weather_rain_water_drop:before {
	content: "\e63b";
}
.picon-thin-342_browse_list_bullets:before {
	content: "\e63c";
}
.picon-thin-499_paint_brush_drawing_color:before {
	content: "\e63d";
}
.picon-thin-113_download_computer_files_drive:before {
	content: "\e63e";
}
.picon-thin-098_zoom_in_magnify_plus:before {
	content: "\e63f";
}
.picon-thin-043_attachment_paper_clip:before {
	content: "\e640";
}
.picon-thin-183_disc_cd_dvd_drive:before {
	content: "\e641";
}
.picon-thin-418_arrows_bidirectional:before {
	content: "\e642";
}
.picon-thin-016_link_chain_url:before {
	content: "\e643";
}
.picon-thin-300_drink_wine_vine_glass:before {
	content: "\e644";
}
.picon-thin-079_file_document_import_download:before {
	content: "\e645";
}
.picon-thin-338_window_layout_side_menus_columns:before {
	content: "\e646";
}
.picon-thin-339_window_layout_side_article_columns:before {
	content: "\e647";
}
.picon-thin-080_file_document_export_upload:before {
	content: "\e648";
}
.picon-thin-002_write_pencil_new_edit:before {
	content: "\e649";
}
.picon-thin-094_clipboard_inventory_box:before {
	content: "\e64a";
}
.picon-thin-110_map_folder_archive_documents:before {
	content: "\e64b";
}
.picon-thin-221_alert_attention_error:before {
	content: "\e64c";
}
.picon-thin-420_arrows_resize_split:before {
	content: "\e64d";
}
.picon-thin-036_bubble_comment_chat_message:before {
	content: "\e64e";
}
.picon-thin-050_logout_exit_door:before {
	content: "\e64f";
}
.picon-thin-466_bright_bulb_idea_lamp_light:before {
	content: "\e650";
}
.picon-thin-415_arrows_repeat:before {
	content: "\e651";
}
.picon-thin-078_file_document_export:before {
	content: "\e652";
}
.picon-thin-331_application_window_message_box:before {
	content: "\e653";
}
.picon-thin-446_magnet_magnetic:before {
	content: "\e654";
}
.picon-thin-145_open_box_shipping_package_delivery:before {
	content: "\e655";
}
.picon-thin-077_file_document_import:before {
	content: "\e656";
}
.picon-thin-258_round_right_arrow_next:before {
	content: "\e657";
}
.picon-thin-065_paper_document_file_error_unavailable_delete:before {
	content: "\e658";
}
.picon-thin-431_lock_security_password_secure:before {
	content: "\e659";
}
.picon-thin-432_unlocked_security_password_unsecure:before {
	content: "\e65a";
}
.picon-thin-257_round_left_arrow_previous:before {
	content: "\e65b";
}
.picon-thin-343_browse_list_bullets_thumbs:before {
	content: "\e65c";
}
.picon-thin-253_x_remove_delete_close_exit:before {
	content: "\e65d";
}
.picon-thin-404_arrow_rotate_left_counter_clockwise:before {
	content: "\e65e";
}
.picon-thin-274_fuel_gas_station_petrol:before {
	content: "\e65f";
}
.picon-thin-018_zoom_find_search_magnifying_glass:before {
	content: "\e660";
}
.picon-thin-405_arrow_rotate_right_clockwise:before {
	content: "\e661";
}
.picon-thin-453_half_battery_charge_power:before {
	content: "\e662";
}
.picon-thin-107_map_folder_import_upload:before {
	content: "\e663";
}
.picon-thin-044_visability_view_watch_eye:before {
	content: "\e664";
}
.picon-thin-063_paper_document_file_word:before {
	content: "\e665";
}
.picon-thin-391_ringer_sounds_volume_alarm:before {
	content: "\e666";
}
.picon-thin-434_shield_anti_virus_security_password_secure:before {
	content: "\e667";
}
.picon-thin-157_wallet_money_card_full:before {
	content: "\e668";
}
.picon-thin-215_support_help_rescue:before {
	content: "\e669";
}
.picon-thin-376_movie_cinema_ticket:before {
	content: "\e66a";
}
.picon-thin-333_application_window_alert_error:before {
	content: "\e66b";
}
.picon-thin-378_movie_video_presentation_play:before {
	content: "\e66c";
}
.picon-thin-462_power_switch_plug_socket_electricity_euro:before {
	content: "\e66d";
}
.picon-thin-028_wall_clock_time:before {
	content: "\e66e";
}
.picon-thin-229_question_support_help:before {
	content: "\e66f";
}
.picon-thin-457_usb_adapter_cable_charging_plug:before {
	content: "\e670";
}
.picon-thin-046_house_home:before {
	content: "\e671";
}
.picon-thin-214_briefcase_suitcase_documents_business:before {
	content: "\e672";
}
.picon-thin-467_light_flashlight_torch:before {
	content: "\e673";
}
.picon-thin-307_book_shelf_wall:before {
	content: "\e674";
}
.picon-thin-309_new_year_decoration_tree_ball_christmas:before {
	content: "\e675";
}
.picon-thin-076_file_document_search_find:before {
	content: "\e676";
}
.picon-thin-184_disc_floppy_save:before {
	content: "\e677";
}
.picon-thin-087_file_document_attachment_paperclip:before {
	content: "\e678";
}
.picon-thin-361_photo_image_camera:before {
	content: "\e679";
}
.picon-thin-340_window_layout_grid_boxes:before {
	content: "\e67a";
}
.picon-thin-058_recycle_bin_delete_garbage:before {
	content: "\e67b";
}
.picon-thin-222_alert_attention_error:before {
	content: "\e67c";
}
.picon-thin-127_sign_path_directions_navigation:before {
	content: "\e67d";
}
.picon-thin-344_browse_list_bullets_check_survey:before {
	content: "\e67e";
}
.picon-thin-039_bubble_chat_message:before {
	content: "\e67f";
}
.picon-thin-350_analytics_bar_chart_diagram:before {
	content: "\e680";
}
.picon-thin-235_heart_favorite_like_add:before {
	content: "\e681";
}
.picon-thin-051_settings_eq_control_panel_preferences:before {
	content: "\e682";
}
.picon-thin-283_leaf_nature_bio_plant_green_organic:before {
	content: "\e683";
}
.picon-thin-428_servers_network_connection_internet_sitemap:before {
	content: "\e684";
}
.picon-thin-329_sim_nano_micro_card:before {
	content: "\e685";
}
.picon-thin-254_check_ok_done_success:before {
	content: "\e686";
}
.picon-thin-181_printer:before {
	content: "\e687";
}
.picon-thin-122_location_pin_map:before {
	content: "\e688";
}
.picon-thin-393_ringer_sounds_volume_speakers:before {
	content: "\e689";
}
.picon-thin-055_settings_tools_pipe:before {
	content: "\e68a";
}
.picon-thin-141_surprise_gift_wrap_box:before {
	content: "\e68b";
}
.picon-thin-301_drink_glass_soda_sparkling_coke:before {
	content: "\e68c";
}
.picon-thin-190_remote_control_ir:before {
	content: "\e68d";
}
.picon-thin-234_broken_heart_favorite_dislike:before {
	content: "\e68e";
}
.picon-thin-459_usb_adapter_connector:before {
	content: "\e68f";
}
.picon-thin-111_download_computer_files:before {
	content: "\e690";
}
.picon-thin-220_education_study_school_learning_smart:before {
	content: "\e691";
}
.picon-thin-299_drink_cocktail_disco_going_out_shake:before {
	content: "\e692";
}
.picon-thin-144_box_shipping_package_delivery:before {
	content: "\e693";
}
.picon-thin-417_arrows_split:before {
	content: "\e694";
}
.picon-thin-308_plant_nature_leaf_flower:before {
	content: "\e695";
}
.picon-thin-151_money_price_us_dollars_cash_coins:before {
	content: "\e696";
}
.picon-thin-463_power_switch_plug_socket_electricity_euro:before {
	content: "\e697";
}
.picon-thin-412_rotate_sync:before {
	content: "\e698";
}
.picon-thin-353_analytics_pie_chart_diagram:before {
	content: "\e699";
}
.picon-thin-123_location_pin_map:before {
	content: "\e69a";
}
.picon-thin-108_map_folder_history_schedule:before {
	content: "\e69b";
}
.picon-thin-441_webcam_camera_ip_security_surveillance:before {
	content: "\e69c";
}
.picon-thin-237_medal_achievement_star_award:before {
	content: "\e69d";
}
.picon-thin-454_half_full_battery_charge_power:before {
	content: "\e69e";
}
.picon-thin-115_upload_cloud_files_drive:before {
	content: "\e69f";
}
.picon-thin-114_download_cloud_files_drive:before {
	content: "\e6a0";
}
.picon-thin-100_search_find_documents_map:before {
	content: "\e6a1";
}
.picon-thin-152_money_price_euro_cash_coins:before {
	content: "\e6a2";
}
.picon-thin-223_alert_error_unavailable:before {
	content: "\e6a3";
}
.picon-thin-414_arrows_shuffle_crossing:before {
	content: "\e6a4";
}
.picon-thin-346_list_bullets_radio_button_select_choice:before {
	content: "\e6a5";
}
.picon-thin-086_file_document_lock_security_password:before {
	content: "\e6a6";
}
.picon-thin-178_computer_laptop_download_internet:before {
	content: "\e6a7";
}
.picon-thin-231_star_favorite:before {
	content: "\e6a8";
}
.picon-thin-170_business_tie:before {
	content: "\e6a9";
}
.picon-thin-239_winner_achievement_medal_first:before {
	content: "\e6aa";
}
.picon-thin-396_ringer_sounds_volume_speakers_mute:before {
	content: "\e6ab";
}
.picon-thin-403_arrow_right_navigate_next:before {
	content: "\e6ac";
}
.picon-thin-015_pin_bookmark:before {
	content: "\e6ad";
}
.picon-thin-402_arrow_left_navigate_previous:before {
	content: "\e6ae";
}
.picon-thin-072_file_document_video_recording:before {
	content: "\e6af";
}
.picon-thin-480_hospital_ill_aid_bandage_health_fix:before {
	content: "\e6b0";
}
.picon-thin-034_bubble_comment_chat_message_like:before {
	content: "\e6b1";
}
.picon-thin-085_file_document_table:before {
	content: "\e6b2";
}
.picon-thin-442_camera_ip_security_surveillance:before {
	content: "\e6b3";
}
.picon-thin-279_tree_forest:before {
	content: "\e6b4";
}
.picon-thin-088_file_document_writing:before {
	content: "\e6b5";
}
.picon-thin-485_basketball_volleyball_footbal_playing_ball_court:before {
	content: "\e6b6";
}
.picon-thin-169_law_justice_verdict_judge_court_hammer:before {
	content: "\e6b7";
}
.picon-thin-209_smiley_neutral:before {
	content: "\e6b8";
}
.picon-thin-381_music_note_playing:before {
	content: "\e6b9";
}
.picon-thin-001_compose_write_pencil_new:before {
	content: "\e6ba";
}
.picon-thin-293_filter_funnel:before {
	content: "\e6bb";
}
.picon-thin-140_store_shop_shopping_market:before {
	content: "\e6bc";
}
.picon-thin-005_write_pen_handwriting_signing:before {
	content: "\e6bd";
}
.picon-thin-497_color_wheel_cmyk_rgb:before {
	content: "\e6be";
}
.picon-thin-105_map_folder_cloud_backup:before {
	content: "\e6bf";
}
.picon-thin-232_star_favorite_add:before {
	content: "\e6c0";
}
.picon-thin-410_airplay_screen_streaming_sharing:before {
	content: "\e6c1";
}
.picon-thin-297_coffee_hot_drink_cup_to_go:before {
	content: "\e6c2";
}
.picon-thin-444_layers:before {
	content: "\e6c3";
}
.picon-thin-472_weather_temperature_hot_cold_celsius_thermometer:before {
	content: "\e6c4";
}
.picon-thin-385_music_note_playing_ipod:before {
	content: "\e6c5";
}
.picon-thin-382_music_note_playing:before {
	content: "\e6c6";
}
.picon-thin-189_mouse_wireless:before {
	content: "\e6c7";
}
.picon-thin-188_mouse_wire:before {
	content: "\e6c8";
}
.picon-thin-091_to_do_clipboard_survey_petition:before {
	content: "\e6c9";
}
.picon-thin-359_hierarchy_diagram_structure:before {
	content: "\e6ca";
}
.picon-thin-049_building_industry_factory:before {
	content: "\e6cb";
}
.picon-thin-070_file_document_cloud_dropbox_backup:before {
	content: "\e6cc";
}
.picon-thin-224_fail_alert_error_unavailable:before {
	content: "\e6cd";
}
.picon-thin-096_clipboard_inventory_box_import_download:before {
	content: "\e6ce";
}
.picon-thin-084_file_document_to_do:before {
	content: "\e6cf";
}
.picon-thin-367_photo_image_wall_unavailable_missing:before {
	content: "\e6d0";
}
.picon-thin-278_tree_forest_picnic_rest:before {
	content: "\e6d1";
}
.picon-thin-458_usb_adapter_cable_iphone_apple_connector:before {
	content: "\e6d2";
}
.picon-thin-089_file_document_writing_script:before {
	content: "\e6d3";
}
.picon-thin-032_bubble_comment_chat_message_writing:before {
	content: "\e6d4";
}
.picon-thin-095_clipboard_inventory_box_export_open:before {
	content: "\e6d5";
}
.picon-thin-064_paper_document_file_word_copy_archive:before {
	content: "\e6d6";
}
.picon-thin-397_audio_microphone_recording_studio:before {
	content: "\e6d7";
}
.picon-thin-193_user_profile_avatar_male:before {
	content: "\e6d8";
}
.picon-thin-450_movember_moustache_male:before {
	content: "\e6d9";
}
.picon-thin-038_comment_chat_message:before {
	content: "\e6da";
}
.picon-thin-413_rotate_sync_clockwise_recycle:before {
	content: "\e6db";
}
.picon-thin-012_mail_envelope_email_sent:before {
	content: "\e6dc";
}
.picon-thin-009_book_reading_read_manual:before {
	content: "\e6dd";
}
.picon-thin-455_full_battery_charged_power:before {
	content: "\e6de";
}
.picon-thin-332_application_window_alert_notification_error:before {
	content: "\e6df";
}
.picon-thin-103_map_folder_images_photos:before {
	content: "\e6e0";
}
.picon-thin-042_comment_quote_reply:before {
	content: "\e6e1";
}
.picon-thin-191_user_profile_avatar:before {
	content: "\e6e2";
}
.picon-thin-166_bank_institution_pantheon_building:before {
	content: "\e6e3";
}
.picon-thin-424_database_drives_raid_db_storage:before {
	content: "\e6e4";
}
.picon-thin-347_list_bullets_check_box_select_choice_survey:before {
	content: "\e6e5";
}
.picon-thin-362_photo_image_album:before {
	content: "\e6e6";
}
.picon-thin-496_eye_dropper_color_picker:before {
	content: "\e6e7";
}
.picon-thin-216_call_support_phone_help:before {
	content: "\e6e8";
}
.picon-thin-471_weather_temperature_hot_cold_celsius_thermometer:before {
	content: "\e6e9";
}
.picon-thin-319_mobile_phone_telephone_call_contact:before {
	content: "\e6ea";
}
.picon-thin-133_shopping_cart_store_basket_purchase:before {
	content: "\e6eb";
}
.picon-thin-460_thunderbolt_connector_fast:before {
	content: "\e6ec";
}
.picon-thin-073_file_document_image_photo:before {
	content: "\e6ed";
}
.picon-thin-373_movie_video_record:before {
	content: "\e6ee";
}
.picon-thin-352_analytics_bar_chart_diagram_crisis_down:before {
	content: "\e6ef";
}
.picon-thin-475_weather_rain_water_umbrela:before {
	content: "\e6f0";
}
.picon-thin-351_analytics_bar_chart_diagram_growth:before {
	content: "\e6f1";
}
.picon-thin-097_clipboard_inventory_box_archive:before {
	content: "\e6f2";
}
.picon-thin-316_iphone_mobile_ringing:before {
	content: "\e6f3";
}
.picon-thin-208_smiley_happy:before {
	content: "\e6f4";
}
.picon-thin-027_stopwatch_time:before {
	content: "\e6f5";
}
.picon-thin-493_ruler_dimensions_length_measure:before {
	content: "\e6f6";
}
.picon-thin-433_key_lock_security_password_secure:before {
	content: "\e6f7";
}
.picon-thin-104_map_folder_locked_password_security:before {
	content: "\e6f8";
}
.picon-thin-030_wristwatch_time_clock:before {
	content: "\e6f9";
}
.picon-thin-171_computer_desktop_screen:before {
	content: "\e6fa";
}
.picon-thin-057_settings_tools_configuration_service_preferences:before {
	content: "\e6fb";
}
.picon-thin-210_smiley_sad:before {
	content: "\e6fc";
}
.picon-thin-394_ringer_sounds_volume_speakers:before {
	content: "\e6fd";
}
.picon-thin-294_fork_knife_spoon_eating_restaurant_food:before {
	content: "\e6fe";
}
.picon-thin-392_ringer_sounds_volume_alarm_mute:before {
	content: "\e6ff";
}
.picon-thin-176_computer_desktop_screen_security_locked_password:before {
	content: "\e700";
}
.picon-thin-280_tree_forest_nature:before {
	content: "\e701";
}
.picon-thin-059_recycle_bin_delete_garbage_full:before {
	content: "\e702";
}
.picon-thin-465_bright_bulb_idea_lamp_light:before {
	content: "\e703";
}
.picon-thin-408_move_navigate_window_screen_full:before {
	content: "\e704";
}
.picon-thin-290_fire_estinguisher_burning:before {
	content: "\e705";
}
.picon-thin-173_computer_desktop_screen_cloud_terminal:before {
	content: "\e706";
}
.picon-thin-372_movie_video_record_hd:before {
	content: "\e707";
}
.picon-thin-010_newspaper_reading_news:before {
	content: "\e708";
}
.picon-thin-447_hammer_tools_work_job:before {
	content: "\e709";
}
.picon-thin-365_photo_image_album_polaroid:before {
	content: "\e70a";
}
.picon-thin-435_star_favorite:before {
	content: "\e70b";
}
.picon-thin-061_paper_document_script:before {
	content: "\e70c";
}
.picon-thin-406_lock_rotate:before {
	content: "\e70d";
}
.picon-thin-379_television_tv:before {
	content: "\e70e";
}
.picon-thin-401_back_revert_undo:before {
	content: "\e70f";
}
.picon-thin-037_comment_message_reply_answer:before {
	content: "\e710";
}
.picon-thin-200_user_bubble_chat_new:before {
	content: "\e711";
}
.picon-thin-213_briefcase_suitcase_code_secure:before {
	content: "\e712";
}
.picon-thin-008_book_reading_read_manual:before {
	content: "\e713";
}
.picon-thin-167_government_institution_building:before {
	content: "\e714";
}
.picon-thin-168_law_justice_lawyer_judge_court_attorney:before {
	content: "\e715";
}
.picon-thin-006_book_writing_reading_read_manual:before {
	content: "\e716";
}
.picon-thin-313_iphone_mobile_chat_message_sms:before {
	content: "\e717";
}
.picon-thin-272_plane_flight_airplane:before {
	content: "\e718";
}
.picon-thin-430_database_shared_map_storage_nas_network:before {
	content: "\e719";
}
.picon-thin-074_file_document_font:before {
	content: "\e71a";
}
.picon-thin-205_user_tag:before {
	content: "\e71b";
}
.picon-thin-048_house_home_building_flat_skyscraper:before {
	content: "\e71c";
}
.picon-thin-194_user_profile_avatar_female_woman:before {
	content: "\e71d";
}
.picon-thin-041_favorite_message_like:before {
	content: "\e71e";
}
.picon-thin-045_glasses_reading:before {
	content: "\e71f";
}
.picon-thin-117_cloud_files_upload_backup:before {
	content: "\e720";
}
.picon-thin-482_queen_chess_game_playing_crown:before {
	content: "\e721";
}
.picon-thin-349_drop_down_box_select_choice:before {
	content: "\e722";
}
.picon-thin-159_bill_money_price_dollars:before {
	content: "\e723";
}
.picon-thin-192_user_profile_avatar_female:before {
	content: "\e724";
}
.picon-thin-179_computer_laptop_statistics_analytics:before {
	content: "\e725";
}
.picon-thin-468_sun_brigthness_summer_hot:before {
	content: "\e726";
}
.picon-thin-118_cloud_files_error:before {
	content: "\e727";
}
.picon-thin-081_file_document_cv_curriculum_vitae:before {
	content: "\e728";
}
.picon-thin-052_settings_eq_control_panel_preferences:before {
	content: "\e729";
}
.picon-thin-201_user_profile_male:before {
	content: "\e72a";
}
.picon-thin-199_user_delete_remove:before {
	content: "\e72b";
}
.picon-thin-494_scissors_cut_paper_shears:before {
	content: "\e72c";
}
.picon-thin-335_application_window_shell_code_comand_prompt:before {
	content: "\e72d";
}
.picon-thin-366_photo_image_wall:before {
	content: "\e72e";
}
.picon-thin-268_anchor_marine_maritime:before {
	content: "\e72f";
}
.picon-thin-228_information:before {
	content: "\e730";
}
.picon-thin-398_audio_microphone_recording_studio:before {
	content: "\e731";
}
.picon-thin-322_phone_telephone_call_on_hold_busy:before {
	content: "\e732";
}
.picon-thin-364_photo_image_album_table:before {
	content: "\e733";
}
.picon-thin-498_writing_pen_calligraphy_feather_signing:before {
	content: "\e734";
}
.picon-thin-270_bicycle_chain:before {
	content: "\e735";
}
.picon-thin-124_location_compass_map:before {
	content: "\e736";
}
.picon-thin-400_audio_speaker_playing_music_sound:before {
	content: "\e737";
}
.picon-thin-483_gamepad_playstation_xbox_game_playing:before {
	content: "\e738";
}
.picon-thin-318_phone_telephone_call_contact:before {
	content: "\e739";
}
.picon-thin-149_delivery_van_truck_shipping:before {
	content: "\e73a";
}
.picon-thin-007_book_reading_read_bookmark:before {
	content: "\e73b";
}
.picon-thin-136_shopping_cart_store_basket_purchase:before {
	content: "\e73c";
}
.picon-thin-131_tag_sales_price_shop:before {
	content: "\e73d";
}
.picon-thin-143_box_shipping_package_delivery:before {
	content: "\e73e";
}
.picon-thin-310_candle_fire_burning:before {
	content: "\e73f";
}
.picon-thin-198_user_create_add_new:before {
	content: "\e740";
}
.picon-thin-148_shopping_price_tag_bag_sale:before {
	content: "\e741";
}
.picon-thin-456_battery_charging_power:before {
	content: "\e742";
}
.picon-thin-324_phone_book_number_contact:before {
	content: "\e743";
}
.picon-thin-448_needle_pin_safety:before {
	content: "\e744";
}
.picon-thin-323_phone_telephone_call_wire:before {
	content: "\e745";
}
.picon-thin-423_wireless_wifi_signal_hotspot_router_modem_switch:before {
	content: "\e746";
}
.picon-thin-130_world_globe_internation_region_language_earth:before {
	content: "\e747";
}
.picon-thin-368_photo_image_camera_take_shot:before {
	content: "\e748";
}
.picon-thin-260_new_badge:before {
	content: "\e749";
}
.picon-thin-383_music_note_playing_album:before {
	content: "\e74a";
}
.picon-thin-296_coffee_tea_hot_drink:before {
	content: "\e74b";
}
.picon-thin-345_browse_list_grid_view:before {
	content: "\e74c";
}
.picon-thin-334_application_window_cursor:before {
	content: "\e74d";
}
.picon-thin-289_fire_burning:before {
	content: "\e74e";
}
.picon-thin-135_shopping_cart_store_basket_purchase_full:before {
	content: "\e74f";
}
.picon-thin-486_arrow_shooting_target_bullseye_archery:before {
	content: "\e750";
}
.picon-thin-003_write_pencil_new_edit:before {
	content: "\e751";
}
.picon-thin-386_music_playing_album_songs:before {
	content: "\e752";
}
.picon-thin-356_analytics_bar_chart_diagram_presentation:before {
	content: "\e753";
}
.picon-thin-025_alarm_clock_snooze:before {
	content: "\e754";
}
.picon-thin-395_ringer_sounds_volume_speakers_loud:before {
	content: "\e755";
}
.picon-thin-160_free:before {
	content: "\e756";
}
.picon-thin-125_location_map_navigate:before {
	content: "\e757";
}
.picon-thin-490_playing_cards_ace_poker_heart_spades_game:before {
	content: "\e758";
}
.picon-thin-438_safe_security_secure_access:before {
	content: "\e759";
}
.picon-thin-082_file_document_cv_curriculum_vitae_profile_id:before {
	content: "\e75a";
}
.picon-thin-068_file_document_pdf_adobe_acrobat:before {
	content: "\e75b";
}
.picon-thin-371_movie_video_play:before {
	content: "\e75c";
}
.picon-thin-399_audio_loud_speaker_announcement:before {
	content: "\e75d";
}
.picon-thin-363_photo_image_album:before {
	content: "\e75e";
}
.picon-thin-291_bomb:before {
	content: "\e75f";
}
.picon-thin-325_phone_book_number_contact:before {
	content: "\e760";
}
.picon-thin-477_t_shirt_clothes:before {
	content: "\e761";
}
.picon-thin-370_photo_image_camera_import_copy:before {
	content: "\e762";
}
.picon-thin-287_laboratory_lab_experiment_research:before {
	content: "\e763";
}
.picon-thin-134_shopping_cart_store_basket_purchase:before {
	content: "\e764";
}
.picon-thin-421_wireless_wifi_signal_hotspot:before {
	content: "\e765";
}
.picon-thin-389_music_playing_dj:before {
	content: "\e766";
}
.picon-thin-021_calendar_date:before {
	content: "\e767";
}
.picon-thin-445_bug:before {
	content: "\e768";
}
.picon-thin-476_weather_winter_snow_flake:before {
	content: "\e769";
}
.picon-thin-491_vector_drawing_pdf_illustrator_resizable:before {
	content: "\e76a";
}
.picon-thin-024_calendar_date:before {
	content: "\e76b";
}
.picon-thin-217_call_support_phone_help_assistance:before {
	content: "\e76c";
}
.picon-thin-464_bright_bulb_idea_lamp_light:before {
	content: "\e76d";
}
.picon-thin-177_computer_laptop_user:before {
	content: "\e76e";
}
.picon-thin-153_money_us_dollars_cash_coins:before {
	content: "\e76f";
}
.picon-thin-358_analytics_bar_chart_diagram_presentation_sales:before {
	content: "\e770";
}
.picon-thin-040_bubble_cloud_chat_message:before {
	content: "\e771";
}
.picon-thin-354_analytics_line_chart_diagram:before {
	content: "\e772";
}
.picon-thin-090_file_document_law_paragraph_license_contract:before {
	content: "\e773";
}
.picon-thin-004_pencil_ruler_drawing:before {
	content: "\e774";
}
.picon-thin-277_dashboard_full_fuel_gauge:before {
	content: "\e775";
}
.picon-thin-182_paper_shredder:before {
	content: "\e776";
}
.picon-thin-488_playing_drums_music_beat:before {
	content: "\e777";
}
.picon-thin-303_couch_sofa_relax:before {
	content: "\e778";
}
.picon-thin-388_music_playing_cassette_tape:before {
	content: "\e779";
}
.picon-thin-479_hospital_ill_medicine_injection_doctor:before {
	content: "\e77a";
}
.picon-thin-437_firewall_security_network:before {
	content: "\e77b";
}
.picon-thin-302_eating_burger_hamburger_fast_food:before {
	content: "\e77c";
}
.picon-thin-207_user_personal_id_profile:before {
	content: "\e77d";
}
.picon-thin-377_movie_director_cut_scene_take:before {
	content: "\e77e";
}
.picon-thin-429_database_drives_raid_db_storage_nas_network:before {
	content: "\e77f";
}
.picon-thin-384_music_note_playing_ipod:before {
	content: "\e780";
}
.picon-thin-275_dashboard_low_empty_fuel_gauge:before {
	content: "\e781";
}
.picon-thin-029_wall_clock_time:before {
	content: "\e782";
}
.picon-thin-264_transport_vehicle_bus_coach:before {
	content: "\e783";
}
.picon-thin-162_cash_money_coins_bills:before {
	content: "\e784";
}
.picon-thin-265_transport_train_rail_line_metro:before {
	content: "\e785";
}
.picon-thin-295_dish_cooking_eating_restaurant_food:before {
	content: "\e786";
}
.picon-thin-470_cloud_weather_rain_storm:before {
	content: "\e787";
}
.picon-thin-326_phone_book_number_contact_profiles:before {
	content: "\e788";
}
.picon-thin-060_recycle_bin_bio_garbage_eco:before {
	content: "\e789";
}
.picon-thin-276_dashboard_fuel_gauge:before {
	content: "\e78a";
}
.picon-thin-357_analytics_bar_chart_diagram_presentation:before {
	content: "\e78b";
}
.picon-thin-500_drawing_pen_pencil_ruler:before {
	content: "\e78c";
}
.picon-thin-328_phone_book_number_contact:before {
	content: "\e78d";
}
.picon-thin-146_documents_box_archive:before {
	content: "\e78e";
}
.picon-thin-374_movie_video_play_cinema:before {
	content: "\e78f";
}
.picon-thin-443_cpu_processor_64_bit_intel_chip:before {
	content: "\e790";
}
.picon-thin-083_file_document_cv_curriculum_vitae_profile_id:before {
	content: "\e791";
}
.picon-thin-387_music_playing_cloud_stream:before {
	content: "\e792";
}
.picon-thin-092_notebook:before {
	content: "\e793";
}
.picon-thin-071_file_document_code_binary:before {
	content: "\e794";
}
.picon-thin-206_user_personal_id_profile:before {
	content: "\e795";
}
.picon-thin-273_rocket_space:before {
	content: "\e796";
}
.picon-thin-147_shopping_price_bag:before {
	content: "\e797";
}
.picon-thin-240_diamond_stone_jewel_jewelry:before {
	content: "\e798";
}
.picon-thin-069_file_document_doc_word:before {
	content: "\e799";
}
.picon-thin-321_phone_telephone_call_ringing:before {
	content: "\e79a";
}
.picon-thin-150_delivery_box_shipping:before {
	content: "\e79b";
}
.picon-thin-440_sheriff_star_badge_police_law_enforcement:before {
	content: "\e79c";
}
.picon-thin-269_bicycle_cycling:before {
	content: "\e79d";
}
.picon-thin-035_tweet_message_twitter:before {
	content: "\e79e";
}
.picon-thin-056_settings_tools_configuration_service_preferences:before {
	content: "\e79f";
}
.picon-thin-355_analytics_line_chart_diagram_presentation:before {
	content: "\e7a0";
}
.picon-thin-285_bear_animal_foot_steps:before {
	content: "\e7a1";
}
.picon-thin-320_phone_telephone_call_contact:before {
	content: "\e7a2";
}
.picon-thin-327_book_contact_profile_user:before {
	content: "\e7a3";
}
.picon-thin-426_database_drives_raid_db_storage_nas_backup:before {
	content: "\e7a4";
}
.picon-thin-425_database_drives_raid_db_storage_nas_network:before {
	content: "\e7a5";
}
.picon-thin-390_music_video_play_youtube:before {
	content: "\e7a6";
}
.picon-thin-330_call_keyboard_dial_numbers:before {
	content: "\e7a7";
}
.picon-thin-288_nuclear_atom_bomb_dangerous:before {
	content: "\e7a8";
}
.picon-thin-197_user_security_password:before {
	content: "\e7a9";
}
.picon-thin-427_servers_backup_network_cloud_storage:before {
	content: "\e7aa";
}
.picon-thin-422_wireless_wifi_signal_hotspot:before {
	content: "\e7ab";
}
.picon-thin-067_file_document_zip_rar_compressed:before {
	content: "\e7ac";
}
.picon-thin-284_foot_steps_dance:before {
	content: "\e7ad";
}
.picon-thin-380_radio_listening_station:before {
	content: "\e7ae";
}
.picon-thin-375_movie_video_play:before {
	content: "\e7af";
}
.picon-thin-196_users_group_couple_family:before {
	content: "\e7b0";
}
.picon-thin-263_transport_vehicle_van_delivery_truck:before {
	content: "\e7b1";
}
.picon-thin-244_dislike_thumbs_down_vote:before {
	content: "\e7b2";
}
.picon-thin-022_calendar_date:before {
	content: "\e7b3";
}
.picon-thin-186_keyboard_cable:before {
	content: "\e7b4";
}
.picon-thin-439_lock_security_access_password:before {
	content: "\e7b5";
}
.picon-thin-195_users_group:before {
	content: "\e7b6";
}
.picon-thin-116_cloud_sync_files_restore:before {
	content: "\e7b7";
}
.picon-thin-473_weather_moon_night_stars_sleep_screensaver_stand_by:before {
	content: "\e7b8";
}
.picon-thin-238_winner_achievement_cup_prize_award:before {
	content: "\e7b9";
}
.picon-thin-093_notebook_to_do:before {
	content: "\e7ba";
}
.picon-thin-180_computer_laptop_www_internet_web:before {
	content: "\e7bb";
}
.picon-thin-259_shape_new_badge:before {
	content: "\e7bc";
}
.picon-thin-165_calculator:before {
	content: "\e7bd";
}
.picon-thin-139_store_shop_shopping:before {
	content: "\e7be";
}
.picon-thin-484_bowling_game_playing_ball:before {
	content: "\e7bf";
}
.picon-thin-262_transport_vehicle_car_traffic:before {
	content: "\e7c0";
}
.picon-thin-066_paper_document_article_text_image:before {
	content: "\e7c1";
}
.picon-thin-236_medal_achievement_star_award:before {
	content: "\e7c2";
}
.picon-thin-489_abacus_math_numbers_study_learning:before {
	content: "\e7c3";
}
.picon-thin-175_computer_desktop_screen_settings_preferences:before {
	content: "\e7c4";
}
.picon-thin-348_url_address_web_www_page_internet:before {
	content: "\e7c5";
}
.picon-thin-138_sales_sale_discount_price_off:before {
	content: "\e7c6";
}
.picon-thin-132_tag_sales_price_shop_discount:before {
	content: "\e7c7";
}
.picon-thin-360_hierarchy_diagram_structure:before {
	content: "\e7c8";
}
.picon-thin-250_open_nonstop_24_7_shop_store:before {
	content: "\e7c9";
}
.picon-thin-226_stop_fail_dangerous_error_dont_touch:before {
	content: "\e7ca";
}
.picon-thin-202_user_profile_male_business_man:before {
	content: "\e7cb";
}
.picon-thin-187_keyboard_wireless:before {
	content: "\e7cc";
}
.picon-thin-225_fail_dangerous_error_dont_touch:before {
	content: "\e7cd";
}
.picon-thin-281_flower_nature_plant:before {
	content: "\e7ce";
}
.picon-thin-341_browse_favorites_top_rated:before {
	content: "\e7cf";
}
.picon-thin-204_user_profile_female_woman:before {
	content: "\e7d0";
}
.picon-thin-174_computer_desktop_screen_users:before {
	content: "\e7d1";
}
.picon-thin-126_location_map_navigate_path:before {
	content: "\e7d2";
}
.picon-thin-315_iphone_mobile_call:before {
	content: "\e7d3";
}
.picon-thin-129_world_globe_internation_region_language_earth:before {
	content: "\e7d4";
}
.picon-thin-248_open_shop_store:before {
	content: "\e7d5";
}
.picon-thin-369_photo_image_camera_take_shot:before {
	content: "\e7d6";
}
.picon-thin-271_car_steering_wheel:before {
	content: "\e7d7";
}
.picon-thin-495_paint_brush_tool_color:before {
	content: "\e7d8";
}
.picon-thin-282_maple_leaf:before {
	content: "\e7d9";
}
.picon-thin-314_iphone_mobile_chat_message_sms:before {
	content: "\e7da";
}
.picon-thin-185_keyboard_attach:before {
	content: "\e7db";
}
.picon-thin-203_user_profile_male_boy:before {
	content: "\e7dc";
}
.picon-thin-261_traffic_light_transport:before {
	content: "\e7dd";
}
.picon-thin-158_cash_register_money_payment:before {
	content: "\e7de";
}
.picon-thin-164_calculator:before {
	content: "\e7df";
}
.picon-thin-053_settings_gear_preferences:before {
	content: "\e7e0";
}
.picon-thin-487_relay_holiday_tourist_beach_sea_sunbathing:before {
	content: "\e7e1";
}
.picon-thin-286_atomic_nuclear_atom_molecular:before {
	content: "\e7e2";
}
.picon-thin-317_mobile_phone_payment_nfc:before {
	content: "\e7e3";
}
.picon-thin-154_money_us_dollars_euro_cash_currency_exchange:before {
	content: "\e7e4";
}
.picon-thin-161_cash_money_coins:before {
	content: "\e7e5";
}
.picon-thin-481_puzzle_plug_in_plugin_compatible_module_component:before {
	content: "\e7e6";
}
.picon-thin-267_transport_ship_sea:before {
	content: "\e7e7";
}
.picon-thin-023_calendar_date:before {
	content: "\e7e8";
}
.picon-thin-163_cash_money_coins_piggy_bank_savings:before {
	content: "\e7e9";
}
.picon-thin-075_file_document_settings_preferences:before {
	content: "\e7ea";
}
.picon-thin-243_like_thumbs_up_vote:before {
	content: "\e7eb";
}
.picon-thin-106_map_folder_settings_preferences:before {
	content: "\e7ec";
}
.picon-thin-436_touch_id_fingerprint_security_access:before {
	content: "\e7ed";
}
.picon-thin-249_closed_shop_store:before {
	content: "\e7ee";
}
.picon-thin-336_application_window_settings_configuration:before {
	content: "\e7ef";
}
.picon-thin-219_thinking_brain_head_mind:before {
	content: "\e7f0";
}
.picon-thin-292_dangerous_scull_poison_death:before {
	content: "\e7f1";
}
.picon-thin-218_thinking_brain_head_mind:before {
	content: "\e7f2";
}
.picon-thin-054_settings_gear_preferences:before {
	content: "\e7f3";
}
