@charset "UTF-8";

@font-face {
  font-family: "picon-thin";
  src:url("fonts/picon-thin.eot");
  src:url("fonts/picon-thin.eot?#iefix") format("embedded-opentype"),
    url("fonts/picon-thin.woff") format("woff"),
    url("fonts/picon-thin.ttf") format("truetype"),
    url("fonts/picon-thin.svg#picon-thin") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "picon-thin" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "picon-thin" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thin-001-compose-write-pencil-new:before {
  content: "\e000";
}
.icon-thin-002-write-pencil-new-edit:before {
  content: "\e001";
}
.icon-thin-003-write-pencil-new-edit:before {
  content: "\e002";
}
.icon-thin-004-pencil-ruler-drawing:before {
  content: "\e003";
}
.icon-thin-005-write-pen-handwriting-signing:before {
  content: "\e004";
}
.icon-thin-006-book-writing-reading-read-manua:before {
  content: "\e005";
}
.icon-thin-007-book-reading-read-bookmark:before {
  content: "\e006";
}
.icon-thin-008-book-reading-read-manual:before {
  content: "\e007";
}
.icon-thin-009-book-reading-read-manual:before {
  content: "\e008";
}
.icon-thin-010-newspaper-reading-news:before {
  content: "\e009";
}
.icon-thin-011-mail-envelope-email-postcard:before {
  content: "\e00a";
}
.icon-thin-012-mail-envelope-email-sent:before {
  content: "\e00b";
}
.icon-thin-013-mail-envelope-email-open:before {
  content: "\e00c";
}
.icon-thin-014-plane-paper-send:before {
  content: "\e00d";
}
.icon-thin-015-pin-bookmark:before {
  content: "\e00e";
}
.icon-thin-016-link-chain-url:before {
  content: "\e00f";
}
.icon-thin-017-flag:before {
  content: "\e010";
}
.icon-thin-018-zoom-find-search-magnifying-gla:before {
  content: "\e011";
}
.icon-thin-019-zoom-find-search-magnifying-gla:before {
  content: "\e012";
}
.icon-thin-020-bookmark:before {
  content: "\e013";
}
.icon-thin-021-calendar-date:before {
  content: "\e014";
}
.icon-thin-022-calendar-date:before {
  content: "\e015";
}
.icon-thin-023-calendar-date:before {
  content: "\e016";
}
.icon-thin-024-calendar-date:before {
  content: "\e017";
}
.icon-thin-025-alarm-clock-snooze:before {
  content: "\e018";
}
.icon-thin-026-time-clock-watch:before {
  content: "\e019";
}
.icon-thin-027-stopwatch-time:before {
  content: "\e01a";
}
.icon-thin-028-wall-clock-time:before {
  content: "\e01b";
}
.icon-thin-029-wall-clock-time:before {
  content: "\e01c";
}
.icon-thin-030-wristwatch-time-clock:before {
  content: "\e01d";
}
.icon-thin-031-bubble-comment-chat-message:before {
  content: "\e01e";
}
.icon-thin-032-bubble-comment-chat-message-wri:before {
  content: "\e01f";
}
.icon-thin-033-bubble-comment-chat-message-add:before {
  content: "\e020";
}
.icon-thin-034-bubble-comment-chat-message-lik:before {
  content: "\e021";
}
.icon-thin-035-tweet-message-twitter:before {
  content: "\e022";
}
.icon-thin-036-bubble-comment-chat-message:before {
  content: "\e023";
}
.icon-thin-037-comment-message-reply-answer:before {
  content: "\e024";
}
.icon-thin-038-comment-chat-message:before {
  content: "\e025";
}
.icon-thin-039-bubble-chat-message:before {
  content: "\e026";
}
.icon-thin-040-bubble-cloud-chat-message:before {
  content: "\e027";
}
.icon-thin-041-favorite-message-like:before {
  content: "\e028";
}
.icon-thin-042-comment-quote-reply:before {
  content: "\e029";
}
.icon-thin-043-attachment-paper-clip:before {
  content: "\e02a";
}
.icon-thin-044-visability-view-watch-eye:before {
  content: "\e02b";
}
.icon-thin-045-glasses-reading:before {
  content: "\e02c";
}
.icon-thin-046-house-home:before {
  content: "\e02d";
}
.icon-thin-047-house-home-building:before {
  content: "\e02e";
}
.icon-thin-048-house-home-building-flat-skyscr:before {
  content: "\e02f";
}
.icon-thin-049-building-industry-factory:before {
  content: "\e030";
}
.icon-thin-050-logout-exit-door:before {
  content: "\e031";
}
.icon-thin-051-settings-eq-control-panel-prefe:before {
  content: "\e032";
}
.icon-thin-052-settings-eq-control-panel-prefe:before {
  content: "\e033";
}
.icon-thin-053-settings-gear-preferences:before {
  content: "\e034";
}
.icon-thin-054-settings-gear-preferences:before {
  content: "\e035";
}
.icon-thin-055-settings-tools-pipe:before {
  content: "\e036";
}
.icon-thin-056-settings-tools-configuration-se:before {
  content: "\e037";
}
.icon-thin-057-settings-tools-configuration-se:before {
  content: "\e038";
}
.icon-thin-058-recycle-bin-delete-garbage:before {
  content: "\e039";
}
.icon-thin-059-recycle-bin-delete-garbage-full:before {
  content: "\e03a";
}
.icon-thin-060-recycle-bin-bio-garbage-eco:before {
  content: "\e03b";
}
.icon-thin-061-paper-document-script:before {
  content: "\e03c";
}
.icon-thin-062-paper-document-file:before {
  content: "\e03d";
}
.icon-thin-063-paper-document-file-word:before {
  content: "\e03e";
}
.icon-thin-064-paper-document-file-word-copy-a:before {
  content: "\e03f";
}
.icon-thin-065-paper-document-file-error-unava:before {
  content: "\e040";
}
.icon-thin-066-paper-document-article-text-ima:before {
  content: "\e041";
}
.icon-thin-067-file-document-zip-rar-compresse:before {
  content: "\e042";
}
.icon-thin-068-file-document-pdf-adobe-acrobat:before {
  content: "\e043";
}
.icon-thin-069-file-document-doc-word:before {
  content: "\e044";
}
.icon-thin-070-file-document-cloud-dropbox-bac:before {
  content: "\e045";
}
.icon-thin-071-file-document-code-binary:before {
  content: "\e046";
}
.icon-thin-072-file-document-video-recording:before {
  content: "\e047";
}
.icon-thin-073-file-document-image-photo:before {
  content: "\e048";
}
.icon-thin-074-file-document-font:before {
  content: "\e049";
}
.icon-thin-075-file-document-settings-preferen:before {
  content: "\e04a";
}
.icon-thin-076-file-document-search-find:before {
  content: "\e04b";
}
.icon-thin-077-file-document-import:before {
  content: "\e04c";
}
.icon-thin-078-file-document-export:before {
  content: "\e04d";
}
.icon-thin-079-file-document-import-download:before {
  content: "\e04e";
}
.icon-thin-080-file-document-export-upload:before {
  content: "\e04f";
}
.icon-thin-081-file-document-cv-curriculum-vit:before {
  content: "\e050";
}
.icon-thin-082-file-document-cv-curriculum-vit:before {
  content: "\e051";
}
.icon-thin-083-file-document-cv-curriculum-vit:before {
  content: "\e052";
}
.icon-thin-084-file-document-to-do:before {
  content: "\e053";
}
.icon-thin-085-file-document-table:before {
  content: "\e054";
}
.icon-thin-086-file-document-lock-security-pas:before {
  content: "\e055";
}
.icon-thin-087-file-document-attachment-paperc:before {
  content: "\e056";
}
.icon-thin-088-file-document-writing:before {
  content: "\e057";
}
.icon-thin-089-file-document-writing-script:before {
  content: "\e058";
}
.icon-thin-090-file-document-law-paragraph-lic:before {
  content: "\e059";
}
.icon-thin-091-to-do-clipboard-survey-petition:before {
  content: "\e05a";
}
.icon-thin-092-notebook:before {
  content: "\e05b";
}
.icon-thin-093-notebook-to-do:before {
  content: "\e05c";
}
.icon-thin-094-clipboard-inventory-box:before {
  content: "\e05d";
}
.icon-thin-095-clipboard-inventory-box-export-:before {
  content: "\e05e";
}
.icon-thin-096-clipboard-inventory-box-import-:before {
  content: "\e05f";
}
.icon-thin-097-clipboard-inventory-box-archive:before {
  content: "\e060";
}
.icon-thin-098-zoom-in-magnify-plus:before {
  content: "\e061";
}
.icon-thin-099-zoom-out-magnify-minus:before {
  content: "\e062";
}
.icon-thin-100-search-find-documents-map:before {
  content: "\e063";
}
.icon-thin-101-map-folder:before {
  content: "\e064";
}
.icon-thin-102-map-folder-full-documents:before {
  content: "\e065";
}
.icon-thin-103-map-folder-images-photos:before {
  content: "\e066";
}
.icon-thin-104-map-folder-locked-password-secu:before {
  content: "\e067";
}
.icon-thin-105-map-folder-cloud-backup:before {
  content: "\e068";
}
.icon-thin-106-map-folder-settings-preferences:before {
  content: "\e069";
}
.icon-thin-107-map-folder-import-upload:before {
  content: "\e06a";
}
.icon-thin-108-map-folder-history-schedule:before {
  content: "\e06b";
}
.icon-thin-109-map-folder:before {
  content: "\e06c";
}
.icon-thin-110-map-folder-archive-documents:before {
  content: "\e06d";
}
.icon-thin-111-download-computer-files:before {
  content: "\e06e";
}
.icon-thin-112-download-computer-files:before {
  content: "\e06f";
}
.icon-thin-113-download-computer-files-drive:before {
  content: "\e070";
}
.icon-thin-114-download-cloud-files-drive:before {
  content: "\e071";
}
.icon-thin-115-upload-cloud-files-drive:before {
  content: "\e072";
}
.icon-thin-116-cloud-sync-files-restore:before {
  content: "\e073";
}
.icon-thin-117-cloud-files-upload-backup:before {
  content: "\e074";
}
.icon-thin-118-cloud-files-error:before {
  content: "\e075";
}
.icon-thin-119-upload-open-export:before {
  content: "\e076";
}
.icon-thin-120-download-import:before {
  content: "\e077";
}
.icon-thin-121-location-pin-map:before {
  content: "\e078";
}
.icon-thin-122-location-pin-map:before {
  content: "\e079";
}
.icon-thin-123-location-pin-map:before {
  content: "\e07a";
}
.icon-thin-124-location-compass-map:before {
  content: "\e07b";
}
.icon-thin-125-location-map-navigate:before {
  content: "\e07c";
}
.icon-thin-126-location-map-navigate-path:before {
  content: "\e07d";
}
.icon-thin-127-sign-path-directions-navigation:before {
  content: "\e07e";
}
.icon-thin-128-sign-path-directions-navigation:before {
  content: "\e07f";
}
.icon-thin-129-world-globe-internation-region-:before {
  content: "\e080";
}
.icon-thin-130-world-globe-internation-region-:before {
  content: "\e081";
}
.icon-thin-131-tag-sales-price-shop:before {
  content: "\e082";
}
.icon-thin-132-tag-sales-price-shop-discount:before {
  content: "\e083";
}
.icon-thin-133-shopping-cart-store-basket-purc:before {
  content: "\e084";
}
.icon-thin-134-shopping-cart-store-basket-purc:before {
  content: "\e085";
}
.icon-thin-135-shopping-cart-store-basket-purc:before {
  content: "\e086";
}
.icon-thin-136-shopping-cart-store-basket-purc:before {
  content: "\e087";
}
.icon-thin-137-shopping-cart-store-basket-purc:before {
  content: "\e088";
}
.icon-thin-138-sales-sale-discount-price-off:before {
  content: "\e089";
}
.icon-thin-139-store-shop-shopping:before {
  content: "\e08a";
}
.icon-thin-140-store-shop-shopping-market:before {
  content: "\e08b";
}
.icon-thin-141-surprise-gift-wrap-box:before {
  content: "\e08c";
}
.icon-thin-142-box-shipping-package:before {
  content: "\e08d";
}
.icon-thin-143-box-shipping-package-delivery:before {
  content: "\e08e";
}
.icon-thin-144-box-shipping-package-delivery:before {
  content: "\e08f";
}
.icon-thin-145-open-box-shipping-package-deliv:before {
  content: "\e090";
}
.icon-thin-146-documents-box-archive:before {
  content: "\e091";
}
.icon-thin-147-shopping-price-bag:before {
  content: "\e092";
}
.icon-thin-148-shopping-price-tag-bag-sale:before {
  content: "\e093";
}
.icon-thin-149-delivery-van-truck-shipping:before {
  content: "\e094";
}
.icon-thin-150-delivery-box-shipping:before {
  content: "\e095";
}
.icon-thin-151-money-price-us-dollars-cash-coi:before {
  content: "\e096";
}
.icon-thin-152-money-price-euro-cash-coins:before {
  content: "\e097";
}
.icon-thin-153-money-us-dollars-cash-coins:before {
  content: "\e098";
}
.icon-thin-154-money-us-dollars-euro-cash-curr:before {
  content: "\e099";
}
.icon-thin-155-credit-card:before {
  content: "\e09a";
}
.icon-thin-156-wallet-money-empty:before {
  content: "\e09b";
}
.icon-thin-157-wallet-money-card-full:before {
  content: "\e09c";
}
.icon-thin-158-cash-register-money-payment:before {
  content: "\e09d";
}
.icon-thin-159-bill-money-price-dollars:before {
  content: "\e09e";
}
.icon-thin-160-free:before {
  content: "\e09f";
}
.icon-thin-161-cash-money-coins:before {
  content: "\e0a0";
}
.icon-thin-162-cash-money-coins-bills:before {
  content: "\e0a1";
}
.icon-thin-163-cash-money-coins-piggy-bank-sav:before {
  content: "\e0a2";
}
.icon-thin-164-calculator:before {
  content: "\e0a3";
}
.icon-thin-165-calculator:before {
  content: "\e0a4";
}
.icon-thin-166-bank-institution-pantheon-build:before {
  content: "\e0a5";
}
.icon-thin-167-government-institution-building:before {
  content: "\e0a6";
}
.icon-thin-168-law-justice-lawyer-judge-court-:before {
  content: "\e0a7";
}
.icon-thin-169-law-justice-verdict-judge-court:before {
  content: "\e0a8";
}
.icon-thin-170-business-tie:before {
  content: "\e0a9";
}
.icon-thin-171-computer-desktop-screen:before {
  content: "\e0aa";
}
.icon-thin-172-computer-desktop-screen:before {
  content: "\e0ab";
}
.icon-thin-173-computer-desktop-screen-cloud-t:before {
  content: "\e0ac";
}
.icon-thin-174-computer-desktop-screen-users:before {
  content: "\e0ad";
}
.icon-thin-175-computer-desktop-screen-setting:before {
  content: "\e0ae";
}
.icon-thin-176-computer-desktop-screen-securit:before {
  content: "\e0af";
}
.icon-thin-177-computer-laptop-user:before {
  content: "\e0b0";
}
.icon-thin-178-computer-laptop-download-intern:before {
  content: "\e0b1";
}
.icon-thin-179-computer-laptop-statistics-anal:before {
  content: "\e0b2";
}
.icon-thin-180-computer-laptop-www-internet-we:before {
  content: "\e0b3";
}
.icon-thin-181-printer:before {
  content: "\e0b4";
}
.icon-thin-182-paper-shredder:before {
  content: "\e0b5";
}
.icon-thin-183-disc-cd-dvd-drive:before {
  content: "\e0b6";
}
.icon-thin-184-disc-floppy-save:before {
  content: "\e0b7";
}
.icon-thin-185-keyboard-attach:before {
  content: "\e0b8";
}
.icon-thin-186-keyboard-cable:before {
  content: "\e0b9";
}
.icon-thin-187-keyboard-wireless:before {
  content: "\e0ba";
}
.icon-thin-188-mouse-wire:before {
  content: "\e0bb";
}
.icon-thin-189-mouse-wireless:before {
  content: "\e0bc";
}
.icon-thin-190-remote-control-ir:before {
  content: "\e0bd";
}
.icon-thin-191-user-profile-avatar:before {
  content: "\e0be";
}
.icon-thin-192-user-profile-avatar-female:before {
  content: "\e0bf";
}
.icon-thin-193-user-profile-avatar-male:before {
  content: "\e0c0";
}
.icon-thin-194-user-profile-avatar-female-woma:before {
  content: "\e0c1";
}
.icon-thin-195-users-group:before {
  content: "\e0c2";
}
.icon-thin-196-users-group-couple-family:before {
  content: "\e0c3";
}
.icon-thin-197-user-security-password:before {
  content: "\e0c4";
}
.icon-thin-198-user-create-add-new:before {
  content: "\e0c5";
}
.icon-thin-199-user-delete-remove:before {
  content: "\e0c6";
}
.icon-thin-200-user-bubble-chat-new:before {
  content: "\e0c7";
}
.icon-thin-201-user-profile-male:before {
  content: "\e0c8";
}
.icon-thin-202-user-profile-male-business-man:before {
  content: "\e0c9";
}
.icon-thin-203-user-profile-male-boy:before {
  content: "\e0ca";
}
.icon-thin-204-user-profile-female-woman:before {
  content: "\e0cb";
}
.icon-thin-205-user-tag:before {
  content: "\e0cc";
}
.icon-thin-206-user-personal-id-profile:before {
  content: "\e0cd";
}
.icon-thin-207-user-personal-id-profile:before {
  content: "\e0ce";
}
.icon-thin-208-smiley-happy:before {
  content: "\e0cf";
}
.icon-thin-209-smiley-neutral:before {
  content: "\e0d0";
}
.icon-thin-210-smiley-sad:before {
  content: "\e0d1";
}
.icon-thin-211-briefcase-suitcase-documents:before {
  content: "\e0d2";
}
.icon-thin-212-briefcase-suitcase-luggage-bagg:before {
  content: "\e0d3";
}
.icon-thin-213-briefcase-suitcase-code-secure:before {
  content: "\e0d4";
}
.icon-thin-214-briefcase-suitcase-documents-bu:before {
  content: "\e0d5";
}
.icon-thin-215-support-help-rescue:before {
  content: "\e0d6";
}
.icon-thin-216-call-support-phone-help:before {
  content: "\e0d7";
}
.icon-thin-217-call-support-phone-help-assista:before {
  content: "\e0d8";
}
.icon-thin-218-thinking-brain-head-mind:before {
  content: "\e0d9";
}
.icon-thin-219-thinking-brain-head-mind:before {
  content: "\e0da";
}
.icon-thin-220-education-study-school-learning:before {
  content: "\e0db";
}
.icon-thin-221-alert-attention-error:before {
  content: "\e0dc";
}
.icon-thin-222-alert-attention-error:before {
  content: "\e0dd";
}
.icon-thin-223-alert-error-unavailable:before {
  content: "\e0de";
}
.icon-thin-224-fail-alert-error-unavailable:before {
  content: "\e0df";
}
.icon-thin-225-fail-dangerous-error-dont-touch:before {
  content: "\e0e0";
}
.icon-thin-226-stop-fail-dangerous-error-dont-:before {
  content: "\e0e1";
}
.icon-thin-227-fail-dangerous-error-unavailabl:before {
  content: "\e0e2";
}
.icon-thin-228-information:before {
  content: "\e0e3";
}
.icon-thin-229-question-support-help:before {
  content: "\e0e4";
}
.icon-thin-230-cone-job-traffic-transport-work:before {
  content: "\e0e5";
}
.icon-thin-231-star-favorite:before {
  content: "\e0e6";
}
.icon-thin-232-star-favorite-add:before {
  content: "\e0e7";
}
.icon-thin-233-heart-favorite-like:before {
  content: "\e0e8";
}
.icon-thin-234-broken-heart-favorite-dislike:before {
  content: "\e0e9";
}
.icon-thin-235-heart-favorite-like-add:before {
  content: "\e0ea";
}
.icon-thin-236-medal-achievement-star-award:before {
  content: "\e0eb";
}
.icon-thin-237-medal-achievement-star-award:before {
  content: "\e0ec";
}
.icon-thin-238-winner-achievement-cup-prize-aw:before {
  content: "\e0ed";
}
.icon-thin-239-winner-achievement-medal-first:before {
  content: "\e0ee";
}
.icon-thin-240-diamond-stone-jewel-jewelry:before {
  content: "\e0ef";
}
.icon-thin-241-plus-up-high:before {
  content: "\e0f0";
}
.icon-thin-242-minus-down-low:before {
  content: "\e0f1";
}
.icon-thin-243-like-thumbs-up-vote:before {
  content: "\e0f2";
}
.icon-thin-244-dislike-thumbs-down-vote:before {
  content: "\e0f3";
}
.icon-thin-245-switch-on-off:before {
  content: "\e0f4";
}
.icon-thin-246-switch-on-off:before {
  content: "\e0f5";
}
.icon-thin-247-delete-backspace-remove:before {
  content: "\e0f6";
}
.icon-thin-248-open-shop-store:before {
  content: "\e0f7";
}
.icon-thin-249-closed-shop-store:before {
  content: "\e0f8";
}
.icon-thin-250-open-nonstop-24-7-shop-store:before {
  content: "\e0f9";
}
.icon-thin-251-plus-add:before {
  content: "\e0fa";
}
.icon-thin-252-minus-remove:before {
  content: "\e0fb";
}
.icon-thin-253-x-remove-delete-close-exit:before {
  content: "\e0fc";
}
.icon-thin-254-check-ok-done-success:before {
  content: "\e0fd";
}
.icon-thin-255-checkbox-x-checked-no:before {
  content: "\e0fe";
}
.icon-thin-256-checkbox-checked-yes-success:before {
  content: "\e0ff";
}
.icon-thin-257-round-left-arrow-previous:before {
  content: "\e100";
}
.icon-thin-258-round-right-arrow-next:before {
  content: "\e101";
}
.icon-thin-259-shape-new-badge:before {
  content: "\e102";
}
.icon-thin-260-new-badge:before {
  content: "\e103";
}
.icon-thin-261-traffic-light-transport:before {
  content: "\e104";
}
.icon-thin-262-transport-vehicle-car-traffic:before {
  content: "\e105";
}
.icon-thin-263-transport-vehicle-van-delivery-:before {
  content: "\e106";
}
.icon-thin-264-transport-vehicle-bus-coach:before {
  content: "\e107";
}
.icon-thin-265-transport-train-rail-line-metro:before {
  content: "\e108";
}
.icon-thin-266-transport-street-road-traffic:before {
  content: "\e109";
}
.icon-thin-267-transport-ship-sea:before {
  content: "\e10a";
}
.icon-thin-268-anchor-marine-maritime:before {
  content: "\e10b";
}
.icon-thin-269-bicycle-cycling:before {
  content: "\e10c";
}
.icon-thin-270-bicycle-chain:before {
  content: "\e10d";
}
.icon-thin-271-car-steering-wheel:before {
  content: "\e10e";
}
.icon-thin-272-plane-flight-airplane:before {
  content: "\e10f";
}
.icon-thin-273-rocket-space:before {
  content: "\e110";
}
.icon-thin-274-fuel-gas-station-petrol:before {
  content: "\e111";
}
.icon-thin-275-dashboard-low-empty-fuel-gauge:before {
  content: "\e112";
}
.icon-thin-276-dashboard-fuel-gauge:before {
  content: "\e113";
}
.icon-thin-277-dashboard-full-fuel-gauge:before {
  content: "\e114";
}
.icon-thin-278-tree-forest-picnic-rest:before {
  content: "\e115";
}
.icon-thin-279-tree-forest:before {
  content: "\e116";
}
.icon-thin-280-tree-forest-nature:before {
  content: "\e117";
}
.icon-thin-281-flower-nature-plant:before {
  content: "\e118";
}
.icon-thin-282-maple-leaf:before {
  content: "\e119";
}
.icon-thin-283-leaf-nature-bio-plant-green-org:before {
  content: "\e11a";
}
.icon-thin-284-foot-steps-dance:before {
  content: "\e11b";
}
.icon-thin-285-bear-animal-foot-steps:before {
  content: "\e11c";
}
.icon-thin-286-atomic-nuclear-atom-molecular:before {
  content: "\e11d";
}
.icon-thin-287-laboratory-lab-experiment-resea:before {
  content: "\e11e";
}
.icon-thin-288-nuclear-atom-bomb-dangerous:before {
  content: "\e11f";
}
.icon-thin-289-fire-burning:before {
  content: "\e120";
}
.icon-thin-290-fire-estinguisher-burning:before {
  content: "\e121";
}
.icon-thin-291-bomb:before {
  content: "\e122";
}
.icon-thin-292-dangerous-scull-poison-death:before {
  content: "\e123";
}
.icon-thin-293-filter-funnel:before {
  content: "\e124";
}
.icon-thin-294-fork-knife-spoon-eating-restaur:before {
  content: "\e125";
}
.icon-thin-295-dish-cooking-eating-restaurant-:before {
  content: "\e126";
}
.icon-thin-296-coffee-tea-hot-drink:before {
  content: "\e127";
}
.icon-thin-297-coffee-hot-drink-cup-to-go:before {
  content: "\e128";
}
.icon-thin-298-milk-tetra-pack:before {
  content: "\e129";
}
.icon-thin-299-drink-cocktail-disco-going-out-:before {
  content: "\e12a";
}
.icon-thin-300-drink-wine-vine-glass:before {
  content: "\e12b";
}
.icon-thin-301-drink-glass-soda-sparkling-coke:before {
  content: "\e12c";
}
.icon-thin-302-eating-burger-hamburger-fast-fo:before {
  content: "\e12d";
}
.icon-thin-303-couch-sofa-relax:before {
  content: "\e12e";
}
.icon-thin-304-living-light-table:before {
  content: "\e12f";
}
.icon-thin-305-shelf-archive:before {
  content: "\e130";
}
.icon-thin-306-book-shelf-archive:before {
  content: "\e131";
}
.icon-thin-307-book-shelf-wall:before {
  content: "\e132";
}
.icon-thin-308-plant-nature-leaf-flower:before {
  content: "\e133";
}
.icon-thin-309-new-year-decoration-tree-ball-c:before {
  content: "\e134";
}
.icon-thin-310-candle-fire-burning:before {
  content: "\e135";
}
.icon-thin-311-ipad-tablet-touch-screen:before {
  content: "\e136";
}
.icon-thin-312-iphone-smart-phone-mobile:before {
  content: "\e137";
}
.icon-thin-313-iphone-mobile-chat-message-sms:before {
  content: "\e138";
}
.icon-thin-314-iphone-mobile-chat-message-sms:before {
  content: "\e139";
}
.icon-thin-315-iphone-mobile-call:before {
  content: "\e13a";
}
.icon-thin-316-iphone-mobile-ringing:before {
  content: "\e13b";
}
.icon-thin-317-mobile-phone-payment-nfc:before {
  content: "\e13c";
}
.icon-thin-318-phone-telephone-call-contact:before {
  content: "\e13d";
}
.icon-thin-319-mobile-phone-telephone-call-con:before {
  content: "\e13e";
}
.icon-thin-320-phone-telephone-call-contact:before {
  content: "\e13f";
}
.icon-thin-321-phone-telephone-call-ringing:before {
  content: "\e140";
}
.icon-thin-322-phone-telephone-call-on-hold-bu:before {
  content: "\e141";
}
.icon-thin-323-phone-telephone-call-wire:before {
  content: "\e142";
}
.icon-thin-324-phone-book-number-contact:before {
  content: "\e143";
}
.icon-thin-325-phone-book-number-contact:before {
  content: "\e144";
}
.icon-thin-326-phone-book-number-contact-profi:before {
  content: "\e145";
}
.icon-thin-327-book-contact-profile-user:before {
  content: "\e146";
}
.icon-thin-328-phone-book-number-contact:before {
  content: "\e147";
}
.icon-thin-329-sim-nano-micro-card:before {
  content: "\e148";
}
.icon-thin-330-call-keyboard-dial-numbers:before {
  content: "\e149";
}
.icon-thin-331-application-window-message-box:before {
  content: "\e14a";
}
.icon-thin-332-application-window-alert-notifi:before {
  content: "\e14b";
}
.icon-thin-333-application-window-alert-error:before {
  content: "\e14c";
}
.icon-thin-334-application-window-cursor:before {
  content: "\e14d";
}
.icon-thin-335-application-window-shell-code-c:before {
  content: "\e14e";
}
.icon-thin-336-application-window-settings-con:before {
  content: "\e14f";
}
.icon-thin-337-window-layout-side-menu:before {
  content: "\e150";
}
.icon-thin-338-window-layout-side-menus-column:before {
  content: "\e151";
}
.icon-thin-339-window-layout-side-article-colu:before {
  content: "\e152";
}
.icon-thin-340-window-layout-grid-boxes:before {
  content: "\e153";
}
.icon-thin-341-browse-favorites-top-rated:before {
  content: "\e154";
}
.icon-thin-342-browse-list-bullets:before {
  content: "\e155";
}
.icon-thin-343-browse-list-bullets-thumbs:before {
  content: "\e156";
}
.icon-thin-344-browse-list-bullets-check-surve:before {
  content: "\e157";
}
.icon-thin-345-browse-list-grid-view:before {
  content: "\e158";
}
.icon-thin-346-list-bullets-radio-button-selec:before {
  content: "\e159";
}
.icon-thin-347-list-bullets-check-box-select-c:before {
  content: "\e15a";
}
.icon-thin-348-url-address-web-www-page-intern:before {
  content: "\e15b";
}
.icon-thin-349-drop-down-box-select-choice:before {
  content: "\e15c";
}
.icon-thin-350-analytics-bar-chart-diagram:before {
  content: "\e15d";
}
.icon-thin-351-analytics-bar-chart-diagram-gro:before {
  content: "\e15e";
}
.icon-thin-352-analytics-bar-chart-diagram-cri:before {
  content: "\e15f";
}
.icon-thin-353-analytics-pie-chart-diagram:before {
  content: "\e160";
}
.icon-thin-354-analytics-line-chart-diagram:before {
  content: "\e161";
}
.icon-thin-355-analytics-line-chart-diagram-pr:before {
  content: "\e162";
}
.icon-thin-356-analytics-bar-chart-diagram-pre:before {
  content: "\e163";
}
.icon-thin-357-analytics-bar-chart-diagram-pre:before {
  content: "\e164";
}
.icon-thin-358-analytics-bar-chart-diagram-pre:before {
  content: "\e165";
}
.icon-thin-359-hierarchy-diagram-structure:before {
  content: "\e166";
}
.icon-thin-360-hierarchy-diagram-structure:before {
  content: "\e167";
}
.icon-thin-361-photo-image-camera:before {
  content: "\e168";
}
.icon-thin-362-photo-image-album:before {
  content: "\e169";
}
.icon-thin-363-photo-image-album:before {
  content: "\e16a";
}
.icon-thin-364-photo-image-album-table:before {
  content: "\e16b";
}
.icon-thin-365-photo-image-album-polaroid:before {
  content: "\e16c";
}
.icon-thin-366-photo-image-wall:before {
  content: "\e16d";
}
.icon-thin-367-photo-image-wall-unavailable-mi:before {
  content: "\e16e";
}
.icon-thin-368-photo-image-camera-take-shot:before {
  content: "\e16f";
}
.icon-thin-369-photo-image-camera-take-shot:before {
  content: "\e170";
}
.icon-thin-370-photo-image-camera-import-copy:before {
  content: "\e171";
}
.icon-thin-371-movie-video-play:before {
  content: "\e172";
}
.icon-thin-372-movie-video-record-hd:before {
  content: "\e173";
}
.icon-thin-373-movie-video-record:before {
  content: "\e174";
}
.icon-thin-374-movie-video-play-cinema:before {
  content: "\e175";
}
.icon-thin-375-movie-video-play:before {
  content: "\e176";
}
.icon-thin-376-movie-cinema-ticket:before {
  content: "\e177";
}
.icon-thin-377-movie-director-cut-scene-take:before {
  content: "\e178";
}
.icon-thin-378-movie-video-presentation-play:before {
  content: "\e179";
}
.icon-thin-379-television-tv:before {
  content: "\e17a";
}
.icon-thin-380-radio-listening-station:before {
  content: "\e17b";
}
.icon-thin-381-music-note-playing:before {
  content: "\e17c";
}
.icon-thin-382-music-note-playing:before {
  content: "\e17d";
}
.icon-thin-383-music-note-playing-album:before {
  content: "\e17e";
}
.icon-thin-384-music-note-playing-ipod:before {
  content: "\e17f";
}
.icon-thin-385-music-note-playing-ipod:before {
  content: "\e180";
}
.icon-thin-386-music-playing-album-songs:before {
  content: "\e181";
}
.icon-thin-387-music-playing-cloud-stream:before {
  content: "\e182";
}
.icon-thin-388-music-playing-cassette-tape:before {
  content: "\e183";
}
.icon-thin-389-music-playing-dj:before {
  content: "\e184";
}
.icon-thin-390-music-video-play-youtube:before {
  content: "\e185";
}
.icon-thin-391-ringer-sounds-volume-alarm:before {
  content: "\e186";
}
.icon-thin-392-ringer-sounds-volume-alarm-mute:before {
  content: "\e187";
}
.icon-thin-393-ringer-sounds-volume-speakers:before {
  content: "\e188";
}
.icon-thin-394-ringer-sounds-volume-speakers:before {
  content: "\e189";
}
.icon-thin-395-ringer-sounds-volume-speakers-l:before {
  content: "\e18a";
}
.icon-thin-396-ringer-sounds-volume-speakers-m:before {
  content: "\e18b";
}
.icon-thin-397-audio-microphone-recording-stud:before {
  content: "\e18c";
}
.icon-thin-398-audio-microphone-recording-stud:before {
  content: "\e18d";
}
.icon-thin-399-audio-loud-speaker-announcement:before {
  content: "\e18e";
}
.icon-thin-400-audio-speaker-playing-music-sou:before {
  content: "\e18f";
}
.icon-thin-401-back-revert-undo:before {
  content: "\e190";
}
.icon-thin-402-arrow-left-navigate-previous:before {
  content: "\e191";
}
.icon-thin-403-arrow-right-navigate-next:before {
  content: "\e192";
}
.icon-thin-404-arrow-rotate-left-counter-clock:before {
  content: "\e193";
}
.icon-thin-405-arrow-rotate-right-clockwise:before {
  content: "\e194";
}
.icon-thin-406-lock-rotate:before {
  content: "\e195";
}
.icon-thin-407-resize-window-screen-full:before {
  content: "\e196";
}
.icon-thin-408-move-navigate-window-screen-ful:before {
  content: "\e197";
}
.icon-thin-409-full-screen-window-maximize:before {
  content: "\e198";
}
.icon-thin-410-airplay-screen-streaming-sharin:before {
  content: "\e199";
}
.icon-thin-411-rotate-counter-clockwise-arrow:before {
  content: "\e19a";
}
.icon-thin-412-rotate-sync:before {
  content: "\e19b";
}
.icon-thin-413-rotate-sync-clockwise-recycle:before {
  content: "\e19c";
}
.icon-thin-414-arrows-shuffle-crossing:before {
  content: "\e19d";
}
.icon-thin-415-arrows-repeat:before {
  content: "\e19e";
}
.icon-thin-416-arrows-direction-right:before {
  content: "\e19f";
}
.icon-thin-417-arrows-split:before {
  content: "\e1a0";
}
.icon-thin-418-arrows-bidirectional:before {
  content: "\e1a1";
}
.icon-thin-419-arrows-curves:before {
  content: "\e1a2";
}
.icon-thin-420-arrows-resize-split:before {
  content: "\e1a3";
}
.icon-thin-421-wireless-wifi-signal-hotspot:before {
  content: "\e1a4";
}
.icon-thin-422-wireless-wifi-signal-hotspot:before {
  content: "\e1a5";
}
.icon-thin-423-wireless-wifi-signal-hotspot-ro:before {
  content: "\e1a6";
}
.icon-thin-424-database-drives-raid-db-storage:before {
  content: "\e1a7";
}
.icon-thin-425-database-drives-raid-db-storage:before {
  content: "\e1a8";
}
.icon-thin-426-database-drives-raid-db-storage:before {
  content: "\e1a9";
}
.icon-thin-427-servers-backup-network-cloud-st:before {
  content: "\e1aa";
}
.icon-thin-428-servers-network-connection-inte:before {
  content: "\e1ab";
}
.icon-thin-429-database-drives-raid-db-storage:before {
  content: "\e1ac";
}
.icon-thin-430-database-shared-map-storage-nas:before {
  content: "\e1ad";
}
.icon-thin-431-lock-security-password-secure:before {
  content: "\e1ae";
}
.icon-thin-432-unlocked-security-password-unse:before {
  content: "\e1af";
}
.icon-thin-433-key-lock-security-password-secu:before {
  content: "\e1b0";
}
.icon-thin-434-shield-anti-virus-security-pass:before {
  content: "\e1b1";
}
.icon-thin-435-star-favorite:before {
  content: "\e1b2";
}
.icon-thin-436-touch-id-fingerprint-security-a:before {
  content: "\e1b3";
}
.icon-thin-437-firewall-security-network:before {
  content: "\e1b4";
}
.icon-thin-438-safe-security-secure-access:before {
  content: "\e1b5";
}
.icon-thin-439-lock-security-access-password:before {
  content: "\e1b6";
}
.icon-thin-440-sheriff-star-badge-police-law-e:before {
  content: "\e1b7";
}
.icon-thin-441-webcam-camera-ip-security-surve:before {
  content: "\e1b8";
}
.icon-thin-442-camera-ip-security-surveillance:before {
  content: "\e1b9";
}
.icon-thin-443-cpu-processor-64-bit-intel-chip:before {
  content: "\e1ba";
}
.icon-thin-444-layers:before {
  content: "\e1bb";
}
.icon-thin-445-bug:before {
  content: "\e1bc";
}
.icon-thin-446-magnet-magnetic:before {
  content: "\e1bd";
}
.icon-thin-447-hammer-tools-work-job:before {
  content: "\e1be";
}
.icon-thin-448-needle-pin-safety:before {
  content: "\e1bf";
}
.icon-thin-449-hotel-do-not-disturb-tag:before {
  content: "\e1c0";
}
.icon-thin-450-movember-moustache-male:before {
  content: "\e1c1";
}
.icon-thin-451-battery-charge-power:before {
  content: "\e1c2";
}
.icon-thin-452-low-battery-charge-power:before {
  content: "\e1c3";
}
.icon-thin-453-half-battery-charge-power:before {
  content: "\e1c4";
}
.icon-thin-454-half-full-battery-charge-power:before {
  content: "\e1c5";
}
.icon-thin-455-full-battery-charged-power:before {
  content: "\e1c6";
}
.icon-thin-456-battery-charging-power:before {
  content: "\e1c7";
}
.icon-thin-457-usb-adapter-cable-charging-plug:before {
  content: "\e1c8";
}
.icon-thin-458-usb-adapter-cable-iphone-apple-:before {
  content: "\e1c9";
}
.icon-thin-459-usb-adapter-connector:before {
  content: "\e1ca";
}
.icon-thin-460-thunderbolt-connector-fast:before {
  content: "\e1cb";
}
.icon-thin-461-power-on-switch-turn:before {
  content: "\e1cc";
}
.icon-thin-462-power-switch-plug-socket-electr:before {
  content: "\e1cd";
}
.icon-thin-463-power-switch-plug-socket-electr:before {
  content: "\e1ce";
}
.icon-thin-464-bright-bulb-idea-lamp-light:before {
  content: "\e1cf";
}
.icon-thin-465-bright-bulb-idea-lamp-light:before {
  content: "\e1d0";
}
.icon-thin-466-bright-bulb-idea-lamp-light:before {
  content: "\e1d1";
}
.icon-thin-467-light-flashlight-torch:before {
  content: "\e1d2";
}
.icon-thin-468-sun-brigthness-summer-hot:before {
  content: "\e1d3";
}
.icon-thin-469-cloud-weather-cloudy:before {
  content: "\e1d4";
}
.icon-thin-470-cloud-weather-rain-storm:before {
  content: "\e1d5";
}
.icon-thin-471-weather-temperature-hot-cold-ce:before {
  content: "\e1d6";
}
.icon-thin-472-weather-temperature-hot-cold-ce:before {
  content: "\e1d7";
}
.icon-thin-473-weather-moon-night-stars-sleep-:before {
  content: "\e1d8";
}
.icon-thin-474-weather-rain-water-drop:before {
  content: "\e1d9";
}
.icon-thin-475-weather-rain-water-umbrela:before {
  content: "\e1da";
}
.icon-thin-476-weather-winter-snow-flake:before {
  content: "\e1db";
}
.icon-thin-477-t-shirt-clothes:before {
  content: "\e1dc";
}
.icon-thin-478-pulse-heart-beat-hospital:before {
  content: "\e1dd";
}
.icon-thin-479-hospital-ill-medicine-injection:before {
  content: "\e1de";
}
.icon-thin-480-hospital-ill-aid-bandage-health:before {
  content: "\e1df";
}
.icon-thin-481-puzzle-plug-in-plugin-compatibl:before {
  content: "\e1e0";
}
.icon-thin-482-queen-chess-game-playing-crown:before {
  content: "\e1e1";
}
.icon-thin-483-gamepad-playstation-xbox-game-p:before {
  content: "\e1e2";
}
.icon-thin-484-bowling-game-playing-ball:before {
  content: "\e1e3";
}
.icon-thin-485-basketball-volleyball-footbal-p:before {
  content: "\e1e4";
}
.icon-thin-486-arrow-shooting-target-bullseye-:before {
  content: "\e1e5";
}
.icon-thin-487-relay-holiday-tourist-beach-sea:before {
  content: "\e1e6";
}
.icon-thin-488-playing-drums-music-beat:before {
  content: "\e1e7";
}
.icon-thin-489-abacus-math-numbers-study-learn:before {
  content: "\e1e8";
}
.icon-thin-490-playing-cards-ace-poker-heart-s:before {
  content: "\e1e9";
}
.icon-thin-491-vector-drawing-pdf-illustrator-:before {
  content: "\e1ea";
}
.icon-thin-492-photo-image-crop:before {
  content: "\e1eb";
}
.icon-thin-493-ruler-dimensions-length-measure:before {
  content: "\e1ec";
}
.icon-thin-494-scissors-cut-paper-shears:before {
  content: "\e1ed";
}
.icon-thin-495-paint-brush-tool-color:before {
  content: "\e1ee";
}
.icon-thin-496-eye-dropper-color-picker:before {
  content: "\e1ef";
}
.icon-thin-497-color-wheel-cmyk-rgb:before {
  content: "\e1f0";
}
.icon-thin-498-writing-pen-calligraphy-feather:before {
  content: "\e1f1";
}
.icon-thin-499-paint-brush-drawing-color:before {
  content: "\e1f2";
}
.icon-thin-500-drawing-pen-pencil-ruler:before {
  content: "\e1f3";
}
